body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container {
  max-width: 500px;
  margin: 0 auto;
} */

.section-title {
  text-align: center;
}

.loading {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.error {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: red;
}

.post-list {
  margin-top: 20px;
}

.post-list .post h4 {
  margin: 0;
}

.tag {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.post-list .post {
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 15px;
  margin-bottom: 20px;
}

.post-list .post .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
